In [2]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title())

Alice
David
Carolina

In [4]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [6]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title() + ", that was a great trick!") 
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [7]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title() + ", that was a great trick!") 
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

print("Thank you, everyone. That was a great magic show.")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show.

### Exercises

4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these 
pizza names in a list, and then use a for loop to print the name of each pizza.
•	 Modify your for loop to print a sentence using the name of the pizza 
instead of printing just the name of the pizza. For each pizza you should 
have one line of output containing a simple statement like I like pepperoni 
pizza.
•	 Add a line at the end of your program, outside the for loop, that states 
how much you like pizza. The output should consist of three or more lines 
about the kinds of pizza you like and then an additional sentence, such as 
I really love pizza!

In [7]:
pizzas = ['supreme', 'pepperoni', 'hawaiian']

for pizza in pizzas:
    print(pizza.title())

Supreme
Pepperoni
Hawaiian

In [10]:
for pizza in pizzas:
    if pizza == 'supreme':
        print("I really like the supreme pizza")
    elif pizza == 'pepperoni':
        print("The pepperoni pizza is not my favorite")
    else:
        print("The hawaiian pizza is weird")

print("\nI prefer the pizzas with a thin crust and differente choices of meat.")
print("I am really not excited about pizza.")

I really like the supreme pizza
The pepperoni pizza is not my favorite
The hawaiian pizza is weird

I prefer the pizzas with a thin crust and differente choices of meat.
I am really not excited about pizza.

4-2. Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to 
print out the name of each animal.
•	 Modify your program to print a statement about each animal, such as A dog would make a great pet.
•	 Add a line at the end of your program stating what these animals have in 
common. You could print a sentence such as Any of these animals would 
make a great pet!

In [11]:
animals = ['rabbit', 'dog', 'cat']
for animal in animals:
    if animal == 'rabbit':
        print(f"A " + animal + " is a peaceful pet.")
    elif animal == 'dog':
        print(f"A " + animal + " is always a great pet.")
    else:
        print(f"A " + animal + " is always good company.") 

print("\nThese animals have been domesticated for ages and are used to live with humans.")
print("Any of these animals would make a great pet!")

A rabbit is a peaceful pet.
A dog is always a great pet.
A cat is always good company.

These animals have been domesticated for ages and are used to live with humans.
Any of these animals would make a great pet!

### Numerical Lists

In [12]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [1]:
even_numbers = list(range(2,11,2)) 
print(even_numbers)

[2, 4, 6, 8, 10]

In [4]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
squares = []
for value in range(1,11):
    squares.append(value**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
digits = [1,2,3,4,5,6,7,8,9,0]
print("min =", min(digits))
print("max =", max(digits))
print("sum =", sum(digits))

min = 0
max = 9
sum = 45

In [16]:
# List comprehension
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercises

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20, inclusive.

In [7]:
for n in range (1,21):
    print(n, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

4-4. One Million: Make a list of the numbers from one to one million, and then 
use a for loop to print the numbers. (If the output is taking too long, stop 
it by pressing ctrl-C or by closing the output window.)

In [16]:
numbers = []
for n in range (1, 101): # lowered to just 100
    numbers.append(n)

for n in numbers:    
    print(n, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

4-5. Summing a Million: Make a list of the numbers from one to one million, 
and then use min() and max() to make sure your list actually starts at one and 
ends at one million. Also, use the sum() function to see how quickly Python can 
add a million numbers.

In [20]:
numbers = []
for n in range (1, 1000001): # lowered to just 100
    numbers.append(n)

M = max(numbers)
m = min(numbers)
S = sum(numbers)

print(M,"\n", m,"\n", S)

1000000
 1
 500000500000

4-6. Odd Numbers: Use the third argument of the range() function to make a list 
of the odd numbers from 1 to 20. Use a for loop to print each number

In [19]:
odds = []
for odd in range(1, 20, 2):
    odds.append(odd)
    
for odd in odds:
    print(odd, end = " ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
odds =[]

4-7. Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to 
print the numbers in your list.

In [21]:
threes = []
for n in range(3, 31, 3):
    threes.append(n)

for n in threes:
    print(n, end = " ")

3 6 9 12 15 18 21 24 27 30

4-8. Cubes: A number raised to the third power is called a cube. For example, 
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that 
is, the cube of each integer from 1 through 10), and use a for loop to print out 
the value of each cube.

In [12]:
cubes = []
for n in range(1, 11):
    cubes.append(n**3)
    
for cube in cubes:
    print(cube, end = " ")

1 8 27 64 125 216 343 512 729 1000

4-9. Cube Comprehension: Use a list comprehension to generate a list of the 
first 10 cubes

In [22]:
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
    print(cube, end = " ")

1 8 27 64 125 216 343 512 729 1000

In [27]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[0:3])

['charles', 'martina', 'michael']

In [28]:
print(players[1:4])

['martina', 'michael', 'florence']

In [29]:
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [35]:
print(*players[2:], sep = ', ') 
print(players[:2])

michael, florence, eli
['charles', 'martina']

In [6]:
print(players[-3:])

['michael', 'florence', 'eli']

In [7]:
print(players[:-3])

['charles', 'martina']

In [11]:
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [19]:
# I. List slicing - The right way
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [43]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [23]:
# II. Direct copy - the wrong way
my_foods = ['pizza', 'falafel', 'carrot cake']
# This doesn't work:
friend_foods = my_foods
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

### Exercises

4-10. Slices: Using one of the programs you wrote in this chapter, add several 
lines to the end of the program that do the following:<br>
•	 Print the message, The first three items in the list are:. Then use a slice to 
print the first three items from that program’s list.<br>
•	 Print the message, Three items from the middle of the list are:. Use a slice 
to print three items from the middle of the list.<br>
•	 Print the message, The last three items in the list are:. Use a slice to print 
the last three items in the list.

In [44]:
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
    print(cube, end = " ")
print("\n")   
print("The first three items in cubes are: ", cubes[0:3])
print("Three items from the middle of the list are: ", cubes[4:7])
print("The last three items in the list are:", cubes[-3:])

1 8 27 64 125 216 343 512 729 1000

The first three items in cubes are:  [1, 8, 27]
Three items from the middle of the list are:  [125, 216, 343]
The last three items in the list are: [512, 729, 1000]

4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1 
(page 60). Make a copy of the list of pizzas, and call it friend_pizzas.<br>
Then, do the following:<br>
•	 Add a new pizza to the original list.<br>
•	 Add a different pizza to the list friend_pizzas.<br>
•	 Prove that you have two separate lists. Print the message, My favorite 
pizzas are:, and then use a for loop to print the first list. Print the message, 
My friend’s favorite pizzas are:, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [45]:
pizzas = ['supreme', 'pepperoni', 'hawaiian']
friend_pizzas = pizzas[:]

print("Before adding pizzas")
print(pizzas)
print(friend_pizzas)

pizzas.append('continental')
friend_pizzas.append('american')
print("\n")
print("After adding pizzas")
print(pizzas)
print(friend_pizzas)

Before adding pizzas
['supreme', 'pepperoni', 'hawaiian']
['supreme', 'pepperoni', 'hawaiian']


After adding pizzas
['supreme', 'pepperoni', 'hawaiian', 'continental']
['supreme', 'pepperoni', 'hawaiian', 'american']

In [41]:
print("My favorite pizzas are:")
for pizza in pizzas:
    print(pizza.title())
print("\n")   
print("My friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(pizza.title())

My favorite pizzas are:
Supreme
Pepperoni
Hawaiian
Continental


My friend's favorite pizzas are:
Supreme
Pepperoni
Hawaiian
American

4-12. More Loops: All versions of foods.py in this section have avoided using 
for loops when printing to save space. Choose a version of foods.py, and 
write two for loops to print each list of foods.

In [42]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("1. Pizzas in 'my_foods'")
for food in my_foods:
    print(food)

print("\n2. Pizzas in 'friend_foods'")
for food in friend_foods:
    print(food)

1. Pizzas in 'my_foods'
pizza
falafel
carrot cake
cannoli

2. Pizzas in 'friend_foods'
pizza
falafel
carrot cake
ice cream

## Tuples

In [46]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [44]:
# Tuples are immutable. Attempts to change return 'error'
dimensions = (20, 50)
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [47]:
# Loop a tuple
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

In [48]:
# Writing over a tuple
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

#### Exercise
4-13. Buffet: A buffet-style restaurant offers only five basic foods. Think of five 
simple foods, and store them in a tuple.<br>
•	 Use a for loop to print each food the restaurant offers.<br>
•	 Try to modify one of the items, and make sure that Python rejects the 
change.<br>
•	 The restaurant changes its menu, replacing two of the items with different 
foods. Add a block of code that rewrites the tuple, and then use a for
loop to print each of the items on the revised menu.

In [51]:
foods = ('carapulcra', 'olluquitos', 'lomo-saltado', 'cebiche', 'seco-con-frejoles')

for food in foods:
    print(food[:len(food)], end = ", ")

carapulcra, olluquitos, lomo-saltado, cebiche, seco-con-frejoles,

In [52]:
# Change an item
foods[2] = 'locro'

TypeError: 'tuple' object does not support item assignment

In [62]:
foods = ('carapulcra', 'locro', 'lomo saltado', 'ceviche', 'seco con frejoles')

for food in foods:
    print(food[:len(food)].title(), end = ", ")
print('\b\b.')
 
foods = ('carapulcra', 'locro', 'lomo saltado', 'arroz con pato', 'aeropuerto')
for food in foods:
    print(food[:len(food)].title(), end = ", ")
print('\b\b.')

Carapulcra, Locro, Lomo Saltado, Ceviche, Seco Con Frejoles.
Carapulcra, Locro, Lomo Saltado, Arroz Con Pato, Aeropuerto.